
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Account Page</h1>
</div>
        @Html.ActionLink("Login now", "Login", "Account", new {@class="btn btn-primary"})
        @Html.ActionLink("Create account", "Register", "Account", new { @class = "btn btn-primary" })

