
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreren</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-11">
            <p>Registreer je account.</p>
        </div>

    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-10">
                <input class="form-control" type="text" name="naam" placeholder="Naam">
                <input class="form-control" type="password" name="pass" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <input type="submit" value="Register" class="btn btn-success"/>
                <input type="button" value="Back to login" class="btn btn-success" name="btnReg" id="btnReg" onclick="location.href = '@Url.Action("Login", "Account")'"/>
            </div>
        </div>
    }
</div>