@using KillerAppV2ASP.Models
@model KillerAppV2ASP.ViewModels.CharacterViewModel
@{
    ViewBag.Title = "Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Selecteer of creeer je character</h2>

<div class="jumbotron">
    <div class="row">
        
        <div class="col-lg-12 list-group">
            @if (Model.Characters != null)
            {
                foreach (var character in Model.Characters)
                {
                    <div class="col-lg-8">
                        <div class="col-lg-5">
                            <a class="list-group-item" id="">
                                @character.Name
                            </a>
                        </div>
                        <a class="btn btn-success" href="@Url.Action("Play", "RPG", new { id = character.CharacterID })"> Play! </a>
                    </div>
                }
            }
        </div>
        <div class="col-lg-10">
            <input type="button" value="Maak nieuw character" class="btn btn-success" name="btnNewChar" id="btnNewChar" onclick="location.href = '@Url.Action("Create", "RPG")'"/>
        </div>
    </div>
</div>
