@model KillerAppV2ASP.ViewModels.EventsViewModel
@{
    ViewBag.Title = "RPGgame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RPGgame Story</h2>


<div class="row">
    <div class="col-lg-11">
        @Model.SelectedCharacter.Name
    </div>
</div>