@using KillerAppV2ASP.Models
@{
    ViewBag.Title = "Home Page";
}
@model KillerAppV2ASP.Models.EventSystem
<div class="jumbotron">
    <h1>RPG Game</h1>
    <input class="btn btn-default" type="submit" value="Create Character" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Model.player.name;
        </p>
    </div>
</div>