@using KillerAppV2ASP.Models
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>RPG Game</h1>
    
    <p>Login to begin your magic journey.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="submit" value="Login" class="btn btn-success" name="btnReg" id="btnReg" onclick="location.href='@Url.Action("Index", "Account")'" />
    </div>
</div>